.splash .head-content {
    padding-top: 80px;
}

.navbar-left {
    float: left !important;
}

.navbar-right {
    float: right !important;
}

.navbar-nav > li {
    float: left;
}

.features {

    p {
        font-size: 16px;
    }
}

.home {
    text-align: center;
    font-size: 16px;

    img {
        width: 100%;
    }

    .get-it {
        font-size: 22px;
    }

    .app {
        margin-bottom: 50px;
    }
}