@page

<div class="home">
    <div class="app">
        <h1>Personal Expense Manager</h1>
        <p>
            Get over your expenses.<br>
            Split them into in categories and get quick overview.
        </p>
    </div>

    <div class="row">
        <div class="col-md-6 app">
            <h2>Universal Windows Application</h2>

            <p>
                <a class="get-it" target="_blank" href="https://www.microsoft.com/store/apps/9n50xhgw891s?ocid=badge">Get it from Microsoft Store</a>.
            </p>

            <img src="~/images/home/universal.png" />
        </div>
        <div class="col-md-6 app">
            <h2>Experimental Web Application</h2>

            <p>
                <a class="get-it" target="_blank" href="//app.money.neptuo.com">Open in new browse tab</a>.
            </p>

            <img src="~/images/home/web.png" />
        </div>
    </div>
</div>
