@page
@model IndexModel

<h1>Money is a small personal expense manager</h1>
<p>We have a Microsoft Store version for Windows.</p>

<div id="mspb-81aovbrgt3r2" class="9n50xhgw891s"></div>
<script src="https://storebadge.azureedge.net/src/badge-1.8.1.js"></script>
<script>
    mspb({ productId: '9n50xhgw891s', badgeType: 'large' }, function (badge) {
        document.getElementById('mspb-81aovbrgt3r2').innerHTML = badge;
    });
</script>

<p>Also we have an experimental web-based version.</p>

<a href="https://app.money.neptuo.com" target="_blank">Neptuo Money</a>