<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] @(ViewData["Title"] != null ? " - " : "") Money</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/css/site-mod.min.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                @*<div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-page="Index">Money</a>
                </div>*@
                <div class="navbar-left">
                    <ul class="nav navbar-nav">
                        <li>
                            <a asp-page="Index">Home</a>
                        </li>
                        <li>
                            <a asp-page="PrivacyPolicy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a asp-page="About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    <div class="splash">
        <div class="background"></div>
        <div class="container head-content">
            <img src="~/images/logo.png" />
            <h1>Money</h1>
            <h2>Neptuo</h2>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="container body-content">
        
        <hr />
        <footer>
            <p>&copy; 2018 - <a href="https://www.neptuo.com" target="_blank">Neptuo</a></p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
